.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 2rem;
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #aec0fc;
  text-align: center;
  width: 80vw;
}

.button {
  width: 80vw;
  height: 50px;
  font-size: 1.5rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #dec0fc;
  color: black;
}

.button:hover {
  background-color: #aec0fc;
  color: white;
  cursor: pointer;
}
