.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 2rem;
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #aec0fc;
  text-align: center;
  width: 80vw;
}

.input {
  width: 80vw;
  height: 50px;
  font-size: 1.5rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #94e1ea;
}

.input:focus {
  outline-color: #94e1ea;
}

.input::placeholder {
  color: #94e1ea;
  text-align: center;
}

.button {
  width: 80vw;
  height: "fit-content";
  font-size: 1.5rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #dec0fc;
  color: black;
}

.button:hover {
  background-color: #aec0fc;
  color: white;
  cursor: pointer;
}

.clue {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  text-align: center;
  width: 80vw;
}

.followUp {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  width: 80vw;
}

.resultsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.finalPoints {
  font-size: 2rem;
  color: white;
  text-align: center;
  padding-bottom: 1rem;
  width: 80vw;
}

.finalResult {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  color: white;
  text-align: center;
  align-items: center;
  width: 90vw;
  gap: 1rem;
}

.image {
  width: 50vw;
  height: 50vw;
}
