.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 2rem;
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #aec0fc;
  text-align: center;
  width: 80vw;
}

.mode {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.5rem;
}

.switch {
  gap: 1rem;
  padding-top: 2rem;
  width: 60px;
  height: 10px;
  display: inline-block;
  position: relative;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 8px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #aec0fc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #aec0fc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.verse {
  font-size: 1.5rem;
  text-align: center;
  width: 80vw;
}

.input {
  font-size: 1.5rem;
  color: #aec0fc;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0;
  margin: 0;
  field-sizing: content;
}

.input::placeholder {
  color: white;
}

.result {
  font-size: 1.5rem;
  text-align: center;
  width: 80vw;
  padding-top: 2rem;
  color: #aec0fc;
}
